#lieBiao .title{
    height: 2.5rem;
    width:100%;
    background:#ccc;
    line-height: 2.5rem;
}
#lieBiao .title .left{
    float: left;
}
#lieBiao .title .right{
    float: right;
}
#lieBiao .title span{
    padding-left: 7rem;
}