#jiaju{
	width:100%;
	background:#f5f5f5;;
	.swiper-slide swiper1{
		width: 100%;
		height: 25rem;
		img{
			width: 100%;
		}
	}
}
.swiper-wrapper {
    width: 100%;
    height: 2.5rem;
    margin-bottom: .15rem;
    img{
    	width: 100%;
    }
} 
.bannertitle{
	width: 100%;
	height:2.88rem;
	background: #fff;
	.bannerbt{
		width: 100%;
		height:.88rem;
		text-align: center;
		padding-top:.13rem;
		
		h3{
			padding-top:.15rem;
			padding-bottom: .15rem;
		}p{
			font-size:.12rem;
		}
	}
	.swiper-titleli{
		width: 100%;
		height:1.42rem;
		background:#fff;
		
		.proimg{
				width:.9rem;
				margin-left: .1rem;
				margin-right: 8px;
				img{
					width: 100%;
				}.productname{
					font-size: .14rem;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					
				}.sellname{
					font-size:.14rem;
					
				}
			}
		
	}
	
}
.modle{

	width: 100%;
	height:5.2rem;
	background: #fff;
	padding-bottom:.15rem;
	margin-top:.15rem;
	.modle-title{
		width: 100%;
		height:.88rem;
		text-align: center;
		padding-top:.13rem;
		
		h3{
			padding-top:.15rem;
			padding-bottom: .15rem;
		}p{
			font-size: .12rem;
		}
	}
}
.modle-img{
	padding: .15rem .15rem 0 .15rem;
	img{
		width: 100%;
	}
}
.modle-list{
	width: 100%;
	height:1.63rem;	
	ul{
	    padding: 0 .15rem ;
		li{
			width: 30.4%;
			float: left;
			margin-right:.1rem;
			img{
				width: 100%;
				height: auto;
				border: none;
			}
		}.modlename{
			margin-top: 5px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
.rmfl{
	margin-top:.15rem;
	width: 100%;
	height:2.25rem;
	background: #fff;
	.rmfl-bt{
		width: 100%;
		height:.55rem;
		text-align: center;
		
		h3{
			
			line-height: .55rem;
		}
	}
}	
.rmfl-list{
	width: 100%;
	padding: .15rem;
	ul{
		display: flex;
		margin-top:.1rem;
		li{
			flex:1;
			margin-right: .1rem;	
			img{
				width:100%;
			}
		}
	}
}
.dpzj{
	width: 100%;
	height:10.32rem;
	background: #fff;
	padding-bottom:.15rem;
	margin-top:.15rem;
	.dpzj-bt{
		width: 100%;
		height:.88rem;
		text-align: center;
		padding-top:.13rem;
		
		h3{
			padding-top:.15rem;
			padding-bottom: .15rem;
		}p{
			font-size: .12rem;
		}
	}.dpzjlist{
		width: 100%;
		height:8.86rem;
		overflow: hidden;
		ul{
			    border-bottom: 1px solid #F5F5F5;
			        border-top: 1px solid #F5F5F5;
			li{
				width: 50%;
				height:2.95rem;
				float: left;
				border-bottom: 1px solid #F5F5F5;
				border-right: 1px solid #F5F5F5;
				img{
					width: 100%;
				}
			}.dpzjname{
			margin-top: .3rem;
			text-indent: .1rem;
			font-size: .14rem;
			color:#bbb;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			}.dpzjjg{
				text-indent: .1rem;
			font-size: .14rem;
			}
		}
	}
}
.dpzjfooter{
	width: 100%;
	height:.48rem;
	
	text-align: center;
	line-height: .48rem;
	a{
		font-size: .12rem;
		color:#000;
	}
}
.jsqj{
	width: 100%;
	height:10.32rem;
	background: #fff;
	padding-bottom:.15rem;
	margin-top:.15rem;
	.jsqj-bt{
		width: 100%;
		height:.88rem;
		text-align: center;
		padding-top:.13rem;
		
		h3{
			padding-top:.15rem;
			padding-bottom: .15rem;
		}p{
			font-size: .12rem;
		}
	}.jsqjlist{
		width: 100%;
		height:8.86rem;
		overflow: hidden;
		ul{
			    border-bottom: 1px solid #F5F5F5;
			        border-top: 1px solid #F5F5F5;
			li{
				width: 50%;
				height:2.95rem;
				float: left;
				border-bottom: 1px solid #F5F5F5;
				border-right: 1px solid #F5F5F5;
				img{
					width: 100%;
				}
			}.jsqjname{
			margin-top: .3rem;
			text-indent: .1rem;
			font-size: .14rem;
			color:#bbb;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			}.jsqjjg{
				text-indent: .1rem;
			font-size: .14rem;
			}
		}
	}
}
.jsqjfooter{
	width: 100%;
	height:.48rem;
	
	text-align: center;
	line-height: .48rem;
	a{
		font-size: .12rem;
		color:#000;
	}
}

.wjyj{
	width: 100%;
	height:10.32rem;
	background: #fff;
	padding-bottom:.15rem;
	margin-top:.15rem;
	.wjyj-bt{
		width: 100%;
		height:.88rem;
		text-align: center;
		padding-top:.13rem;
		
		h3{
			padding-top:.15rem;
			padding-bottom: .15rem;
		}p{
			font-size: .12rem;
		}
	}.wjyjlist{
		width: 100%;
		height:8.86rem;
		overflow: hidden;
		ul{
			    border-bottom: 1px solid #F5F5F5;
			        border-top: 1px solid #F5F5F5;
			li{
				width: 50%;
				height:2.95rem;
				float: left;
				border-bottom: 1px solid #F5F5F5;
				border-right: 1px solid #F5F5F5;
				img{
					width: 100%;
				}
			}.wjyjname{
			margin-top: .3rem;
			text-indent: .1rem;
			font-size: .14rem;
			color:#bbb;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			}.wjyjjg{
				text-indent: .1rem;
			font-size: .14rem;
			}
		}
	}
}
.wjyjfooter{
	width: 100%;
	height:.48rem;
	
	text-align: center;
	line-height: .48rem;
	a{
		font-size: .12rem;
		color:#000;
	}
}			