#foot{
  width:100%;
  height:0.48rem;
  border-top:0.01rem solid #ddd;
  padding:0 0.06rem;
  position: fixed;
  bottom:0;
  left:0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: white;
  li{
    width:0.4rem;
    height:0.35rem;
    
    a{
      margin-top:-0.05rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color:#272822;
      div{
        width:0.3rem;
        height:0.3rem;
        line-height: 0.3rem;
        text-align: center;
        font-size: 0.16rem;
      }
      
      p{
        width:0.4rem;
        height:0.14rem;
        line-height: 0.14rem;
        text-align: center;
        font-size: 0.12rem;
      }
    }
    
  }
}